.completed {
    text-decoration: line-through;
    color: rgb(0, 0, 0);
}

body {
    text-align: center;
    background-color: rgb(0, 155, 103);
    color: #ffffff;
    font-size: large;
}

li {
    text-align: left;
}

button {
    position: right;
    border-color: #ffffff;
    color: rgb(0, 155, 103);
    background-color: #ffffff;
}

#nukeButton {
    position: absolute;
    bottom: 0px;

}

#theList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ffffff;
}